@page
@model ProjectShowcaseWebsite.Pages.AboutModel


@{
    ViewData["Title"] = "About Ryan Mueller";
}

<section id="main">
    <h1>About Ryan Mueller</h1>
    <p>
        After graduating with a degree in Music in 2014,
        I discovered programming and software engineering in July of 2015.
        Following this introduction, between 2016 and 2018 I took classes at Metropolitan Community College
        of Omaha focusing in specific programming languages.
    </p>
    <p>
        I returned to my Alma Mater Doane University for a second degree in Information Systems with a focus in
        Software Engineering in August of 2019, and I finished in May of 2020. While there,
        I designed a game to teach Linux Terminal commands using Unity and C#, in addition
        to a game to teach Python programming from scratch C++ code.
    </p>
    <p>
        Now, I am devoting my time to learning as much as I can about the modern software engineering world.
        I am learning the C#/.NET and ASP/.NET stacks. I continue to work on my skills in Android Studio,
        Java, and C++. I also volunteer at my Alma Mater and teach game development workshops using the 
        Godot game engine. My other major project is a sci-fi RPG in Unreal Engine that I hope will pay homage
        to the Mass Effect trilogy in a loving way.
    </p>
    <p>
        This website was designed in the ASP/.NET stack to be a place to host all of my software engineering
        and machine learning projects across all technology stacks, game engines, and programming languages, 
        with links to their respective GitHub repositories for the source code.
        If you would like to see the source code for this website, follow the link below.
    </p>
    <p>
        When I am not software engineering, I have a labrador retriever and golden doodle mix. She
        is a handful and a half, but a joy. I also enjoy rock climbing, hiking, and riding my bike. 
        I am a huge gamer, playing Tabletop Roleplaying Games, my favorite is Fantasy Flight's 
        Genesys system, and video games, my favorites being <i>Legend of Zelda: Breath of the Wild</i>, 
        <i>The Witcher 3: Wild Hunt</i>, and the <i>Mass Effect Trilogy</i>.
    </p>
</section>

<section id="gitlink">
    <h5>
        <a href="https://github.com/ryanmueller28/ProjectShowcaseWebsite">The GitHub repository for this website</a>
    </h5>
</section>