@page
@model ProjectShowcaseWebsite.Pages.UnrealEngineSciFiRPGModel
@{
    ViewData["Title"] = "Cookie's Way Home";
}

<div class="text-center">
    <h1 class="display-4">About this project</h1>
</div>

@*
    To DO:
    ADD image and link to download
*@

<section id="main">
    <p>
        This is a short game jam game for the <a href="https://itch.io/jam/jame-gam-jam">Jame Gam: Game Jam</a>.
        It is about a cookie finding its way back to the jar while avoiding enemies.
    </p>

    <p>
        If you would like to download the game the <a href="https://myanrueller.itch.io/cookies-way-home">Itch.io page has a downloadable for Windows</a>.
    </p>
</section>

<section id="gitlink">
    <h5>
        <a href="https://github.com/ryanmueller28/cookies-way-home">The GitHub repository and source code</a>
    </h5>
</section>