@page
@model ProjectShowcaseWebsite.Pages.GenesysCharacterSheetAppModel

@{
    ViewData["Title"] = "Genesys Character Sheet App";
}

<div class="text-center">
    <h1 class="display-4">About The Genesys Character Sheet App</h1>
</div>

@*
    TO DOL
    Add image and link to download
*@

<section id="main">
    <p>
        The Genesys Character Sheet App is an Android application to be a Dynamic Character Sheet
        for the <a href="https://www.fantasyflightgames.com/en/products/genesys/">Genesys Fantasy Flight RPG System</a>. Genesys uses story dice instead of traditional RPG dice to determine
        the outcome of events in the course of a game. This app links the characteristics and skills of a character to a dice roller dynamically to allow the player to choose to roll
        a skill and it rolls for them.
    </p>
</section>

<section id="gitlink">
    <h5>
        <a href="https://github.com/ryanmueller28/GenesysCharacterSheetApp">The GitHub repository and source code</a>
    </h5>
</section>