@page
@model ProjectShowcaseWebsite.Pages.GodotGameWorkshopProjectsModel
@{
}
<div class="text-center">
    <h1 class="display-4">Godot Game Development Workshop</h1>
</div>

@*
    To DO:
    ADD image and link to download
*@

<section id="main">
    <p>
        This is a personal fork of the work I did for the Game Development Workshops at Doane University's Center for Computing in the Liberal Arts.
        The projects use <a href="https://godotengine.org/">The Godot Game Engine</a>, an open source, crossplatform, and lightweight game engine
        that is great to help teach the fundamentals of game design and programming.
    </p>
</section>

<section id="gitlink">
    <h5>
        <a href="https://github.com/ryanmueller28/GameWorkshopProjects">The GitHub repository and source code</a>
    </h5>
</section>