@page
@model ProjectShowcaseWebsite.Pages.UnrealEngineSciFiRPGModel
@{
    ViewData["Title"] = "JavaFXBankingApp";
}

<div class="text-center">
    <h1 class="display-4">About this project</h1>
</div>

@*
    To DO:
    ADD image and link to download
*@

<section id="main">
    <p>
        This is a work in progress banking style application using JavaFX with JBDC SQL management.
    </p>
    <p>
        Current UI Features: Menu Bar, a Screen to Add Users, and Light and Dark Modes.
        SQL Management class is under construction currently.
    </p>
    <p>
        The project is in the early stages of development currently. Check back later to see the progress
        of this project!
    </p>

</section>

<section id="gitlink">
    <h5>
        <a href="https://github.com/ryanmueller28/JavaFXBankingApp">The GitHub repository and source code</a>
    </h5>
</section>