@page
@model ProjectShowcaseWebsite.Pages.LostResearchStationModel
@{
    ViewData["Title"] = "Lost Research Station";
}

<div class="text-center">
    <h1 class="display-4">About Lost Research Station</h1>
</div>

@*
    To DO:
    ADD image and link to download
*@

<section id="main">
    <p>
        <i>Lost Research Station</i> is a short third person shooter based on <a href="https://gitlab.com/GameDevTV/UnrealCourse/SimpleShooter">Simple Shooter Unit</a> for the Unreal Engine series,
        licensed under <a href="https://gitlab.com/GameDevTV/UnrealCourse/SimpleShooter/-/blob/master/LICENSE.md">The MIT License</a> for use. The goal of the project is to
        showcase simple movement and shooting mechanics, and add in atmospheric level design.
    </p>
</section>

<section id="gitlink">
    <h5>
        <a href="https://github.com/ryanmueller28/LostResearchStation">The GitHub repository and source code</a>
    </h5>
</section>