@page
@model ProjectShowcaseWebsite.Pages.MusicMachineLearningModel
@{
    ViewData["Title"] = "Music Machine Learning";
}

<div class="text-center">
    <h1 class="display-4">About Machine Learning Music</h1>
</div>

@*
    To DO:
    ADD image and link to download
*@

<section id="main">
    <p>
        This project is a machine learning algorithm to create a Neural Network with the goal of
        reproducing music in the style of composers it was given, Bach, Beethoven, Brahms, and Chopin.
    </p>
</section>

<section id="gitlink">
        <h5>
            <a href="https://github.com/ryanmueller28/MusicMachineLearning">The GitHub repository and source code</a>
        </h5>
</section>